.idea/
.vscode/
!.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/launch.json

*.bundle

__pycache__/
*.py[cod]
*$py.class
*.egg-info/

logs/
*.log
*.logs

.venv/
venv/

artifacts/
framework_validation/output/
